

.nav-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  gap: 6px;

  position: absolute;
  width: 180px;
  height: 37px;
  left: 1035px;
  top: 24px;

  background: #403C3C;
  border-radius: 10px;
}

.span {
  width: 117px;
  height: 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.nav-span-number {
  position: absolute;
  width: 138px;
  height: 19px;
  left: 873px;
  top: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #403C3C;
}

.card-img-top {
  width: 102.92px;
  height: 42.22px;
  left: 50.9px;
  top: 27.2px;
}

.nav-link1{
  position: absolute;
  width: 44px;
  height: 19px;
  left: 191px;
  top: 41px;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #403C3C;
}

.nav-link2{
  position: absolute;
  width: 53px;
  height: 19px;
  left: 281px;
  top: 41px;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #403C3C;
}

.nav-link3{
  position: absolute;
  width: 87px;
  height: 19px;
  left: 380px;
  top: 41px;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #403C3C;
}

.nav-link4{
  position: absolute;
  width: 87px;
  height: 19px;
  left: 513px;
  top: 41px;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #403C3C;
}

.nav-link5{
  position: absolute;
  width: 87px;
  height: 19px;
  left: 634px;
  top: 41px;
  font-family: 'Inter';
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #403C3C;
}

.nav-item-telephone {
  position: absolute;
  width: 127px;
  height: 15px;
  left: 866px;
  top: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.02em;
  color: #403C3C;
  opacity: 0.6;
}

